{% extends "base.html" %}
{% load thumbnail %}
<title>{% block title %}{{post.text|truncatechars:30}}{% endblock title %}</title>
{% block content %}
  <div class="row">
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Дата публикации: {{ post.pub_date|date:"d E Y" }}
        </li>
        {% if post.group %}
          <li class="list-group-item">
            Группа: <a href="{% url 'posts:group' post.group.slug %}">
            {{ post.group.title }}</a>
          </li>
        {% endif %}
        <li class="list-group-item">
          Автор: <a href = "{% url 'posts:profile' post.author.username %}" >
          {% if post.author.get_full_name %}{{ post.author.get_full_name }}
          {% else %}{{ post.author.username }}
          {% endif %}</a>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Всего постов автора: <span >{{ post.author.posts.count }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Всего комментариев: <span >{{ post.comments.count }}</span>
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
        <img class="card-img my-2" src="{{ im.url }}">
      {% endthumbnail %}
      <p>{{ post.text|linebreaksbr }}</p>
      {% if post.author == user %}
        <a href = "{% url 'posts:post_edit' post.id %}" >Редактировать</a>
      {% endif %}
      <hr/>
      {% for comment in post.comments.all %}
        {% include 'posts/includes/comment.html' %}
        {% if not forloop.last %}<hr>{% endif %}
      {% endfor %}
      {% if user.is_authenticated %}
        {% include 'posts/includes/comment_form.html' %}
      {% endif %}
    </article>
  </div> 
{% endblock content %}